@import "tailwindcss";

@font-face {
    font-family: Anta;
    src: url('./assets/fonts/Anta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: Anta, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root, #root > * {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
  
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}  

.web-bg {
    @apply absolute top-0 left-0 w-full h-full object-cover object-center saturate-150;
}

.web-content {
    @apply w-full h-full z-10;
}

.section {
    @apply w-auto flex mx-[15dvw];   
}

p::selection {
    @apply bg-slate-300 text-slate-700;
}

*:not(p)::selection {
    -webkit-user-select: none;
    user-select: none;
    @apply bg-inherit;
}